<header class="text-center mt-5 mb-5">
    <h3>간단 게시판</h3>
</header>

<div class="container">
    <div class="row mb-5">
        <div class="col col-2">
            <div class="btn btn-block btn-light" [routerLinkActive]="['btn-primary']" [routerLink]="['/board/free/']">자유게시판</div>
        </div>
        <div class="col col-2">
            <div class="btn btn-block btn-light" [routerLinkActive]="['btn-primary']"[routerLink]="['/board/humor/']">유머</div>
        </div>
        <div class="col col-2">
            <div class="btn btn-block btn-light" [routerLinkActive]="['btn-primary']"[routerLink]="['/board/horror/']">호러</div>
        </div>
        <div class="col col-2">
            <div class="btn btn-block btn-light" [routerLinkActive]="['btn-primary']"[routerLink]="['/board/movie/']">영화</div>
        </div>
        <div class="col col-2">
            <div class="btn btn-block btn-light" [routerLinkActive]="['btn-primary']"[routerLink]="['/board/policy/']">정치</div>
        </div>
        <div class="col col-2">
            <div class="btn btn-block btn-light" [routerLinkActive]="['btn-primary']"[routerLink]="['/board/worry/']">고민</div>
        </div>
    </div>
</div>