<header class="text-center mt-5 mb-5">
    <h3>간단 게시판</h3>
</header>

<div class="container">
    <div class="row mb-5">
        <div class="col col-2">
            <div class="btn btn-block btn-light" [routerLink]="['/main/free']">자유게시판</div>
        </div>
        <div class="col col-2">
            <div class="btn btn-block btn-light" [routerLink]="['/main/humor']">유머</div>
        </div>
        <div class="col col-2">
            <div class="btn btn-block btn-light" [routerLink]="['/main/horror']">호러</div>
        </div>
        <div class="col col-2">
            <div class="btn btn-block btn-light" [routerLink]="['/main/movie']">영화</div>
        </div>
        <div class="col col-2">
            <div class="btn btn-block btn-light" [routerLink]="['/main/policy']">정치</div>
        </div>
        <div class="col col-2">
            <div class="btn btn-block btn-light" [routerLink]="['/main/worry']">고민</div>
        </div>
    </div>
</div>