<main class="container">
    <section class="row">
        <div class="col col-12 text-center text-muted" *ngIf="taskList.length === 0">검색된 게시글이 없습니다.</div>
        <div class="col col-4">
            <app-task-list [list]="taskList" (onActive)="onTaskListItemActive($event);"></app-task-list>
        </div>
        <div class="col col-8">
            <app-task-detail [listItem]="activeTaskListItem"></app-task-detail>
        </div>
    </section>
    <section class="float-right">
        <div class="btn btn-primary" [routerLink]="['../write']">글 작성</div>
        <app-task-delete [listItem]="activeTaskListItem"></app-task-delete>
    </section>
</main>
